.About {
	width: 100%;
	height: 100%;
	background-color: rgb(222, 230, 233);
	scroll-margin-top: 8vh;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 3rem;
}
.Container {
	padding-top: 10rem;
	display: flex;
	gap: 3rem;
}

.DisplayPictures {
	width: 100%;
	height: 100%;
	border-radius: 25px;
	padding: 2rem;
	flex: 30%;
	margin: 0 auto;
	background-color: palevioletred;
}

.Textbox {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 3rem;
	flex: 70%;
}

.text-title {
	text-align: center;
	font-size: 3rem;
}

.text {
	letter-spacing: 1px;
	line-height: 1.8;
	font-size: 1.7rem;
}
