.About {
	color: rgb(255, 255, 255);
	background-color: #373737;
	padding-left: 12rem;
	padding-right: 12rem;
	padding-bottom: 6rem;
	padding-top: 3rem;
}

.About-Container {
	display: flex;
	gap: 5rem;
	justify-content: center;
	align-items: center;
}

.DisplayPicture img {
	padding: 1rem;
}

.About-title {
	text-align: left;
	font-size: 3.2rem;
}

.About-text {
	letter-spacing: 1px;
	line-height: 1.2;
	font-size: 1.7rem;
}

@media screen and (max-width: 1500px) {
	.About {
		padding-left: 10rem;
		padding-right: 10rem;
		padding-top: 10rem;
	}
	.Container {
		flex-direction: column;
	}
}
@media screen and (max-width: 928px) {
	.About {
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 1rem;
	}
	.About-Container {
		flex-wrap: wrap;
		gap: 3rem;
	}
	.About-textbox {
		padding-bottom: 1rem;
	}

	.text-title {
		font-size: 2.5rem;
	}

	.text {
		font-size: 1.3rem;
	}

	.DisplayPicture img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 732px) {
	.About {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
