.accordion-button {
	background-color: rgb(57, 57, 57);
	color: #ffffff;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	color: #ffffff;
	background-color: rgb(57, 57, 57);
	box-shadow: inset 0 -1px 0 rgba(250, 250, 250, 0.975);
}

.accordion-body {
	color: rgb(255, 255, 255);
	background-color: #373737;
}

.faq {
	text-align: center;
	font-size: 3.2rem;
}

.faq-title-container {
	padding: '2rem';
}

#firstAccordion .accordion-button:not(.collapsed) {
	color: #fff310;
}

#secondAccordion .accordion-button:not(.collapsed) {
	color: #60ee35;
}

#thirdAccordion .accordion-button:not(.collapsed) {
	color: #ed130f;
}

#fourthAccordion .accordion-button:not(.collapsed) {
	color: #8308ee;
}
