.Collection {
	width: 100%;
	background-color: rgb(209, 211, 212);
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 2rem;
}

.Container {
	padding-top: 0rem;
	margin-top: 0rem;
	padding-bottom: 0rem;
	margin-bottom: 0rem;
}

.grid {
	max-width: 1440px;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.cardImage-small {
	width: 300px;
	height: 300px;
	margin: auto;
}

.grid-item {
	display: flex;
	width: 300px;
	height: 300px;
	border-radius: 25px;
	transition: transform 0.5s ease;
	text-align: center;
}

.grid-item:hover {
	transform: scale(1.05);
}

.footer-text p {
	margin-top: 0.5rem;
	text-align: center;
	font-size: 2rem;
	color: rgb(112, 136, 216);
	margin-bottom: 0.5rem;
	padding-bottom: 2rem;
}

.footer-text p:hover {
	color: rgb(139, 165, 253);
}

.collection-header {
	text-align: center;
	margin: 0 auto;
	font-size: 2rem;
	display: inline-block;
	min-width: 100%;
	padding-bottom: 0rem;
}
