.Describe {
	background: linear-gradient(
		0deg,
		rgb(209, 211, 212) 0%,
		rgba(55, 55, 55, 1) 100%
	);
	width: 100%;
	height: 100%;
	padding-left: 4rem;
	padding-right: 4rem;
}
.Describe img {
	max-width: 300px;
	height: auto;
}
.Describe p {
	font-size: 2.5rem;
	color: aliceblue;
}
