.Hero {
	height: 110vh;
	width: 100%;
	background-color: #7bcfff;
	background-image: url(../assets/HeroBanner.gif);
	background-position: 0% 35%;
	background-repeat: no-repeat;
	background-size: cover;
}

.Speechbox {
	position: absolute;
	top: 75%;
	left: 55%;
}

.speech {
	font-size: 8rem;
	color: aliceblue;
}

@media only screen and (max-width: 1830px) {
	.Hero {
		background-position: 70% 35%;
	}
}

@media only screen and (max-width: 1600px) {
	.Hero {
		background-position: 80% 35%;
	}
}

@media only screen and (max-width: 1200px) {
	.Hero {
		background-position: 5% 35%;
	}
}

@media only screen and (max-width: 960px) {
	.Hero {
		background-position: 5% 35%;
	}
}

@media only screen and (max-width: 615px) {
	.Hero {
		background-position: 10% 35%;
	}
}

@media only screen and (max-width: 300px) {
	.Hero {
		background-position: 20% 35%;
	}
}
