.Hero {
	height: 110vh;
	width: 100%;
	background-color: rgb(89, 181, 220);
	background-image: url(https://cdn.discordapp.com/attachments/1023022985583542345/1079170560157818921/BrowserPreview_tmp_2.gif);
	background-position: 0% 35%;
	background-repeat: no-repeat;
	background-size: cover;
}

.Speechbox {
	position: absolute;
	top: 75%;
	left: 55%;
}

.speech {
	font-size: 8rem;
	color: aliceblue;
}
