.MainCollection {
	width: 100%;
	background-color: cadetblue;
}

.home {
	position: absolute;
	left: 0;
	right: 0;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	color: white;
	padding-top: 1rem;
	font-size: 2rem;
	text-align: center;
}
.home:hover {
	color: rgba(252, 242, 164, 0.994);
}

.container {
	padding-top: 10rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container-header {
	width: 100%;
	text-align: center;
	font-size: 2rem;
}

.grid-container {
	flex-direction: row;
}
.grid-main {
	max-width: 1440px;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.cardImage {
	width: 200px;
	height: 200px;
	margin: auto;
}

.grid-items {
	display: flex;
	width: 200px;
	height: 200px;
	border-radius: 25px;
	transition: transform 0.5s ease;
	text-align: center;
}

.grid-items img {
	max-width: 100%;
	height: auto;
}

.grid-items:hover {
	transform: scale(1.05);
}
