.iconPlayer {
	position: fixed;
	top: 3%;
	right: 3%;
	color: #f2eeee;
	cursor: pointer;
}

.iconPlayer:hover {
	color: rgba(252, 242, 164, 0.994);
}

@media screen and (max-width: 1240px) {
	.iconPlayer {
		right: 8%;
	}
}

@media screen and (max-width: 600px) {
	.iconPlayer {
		right: 10%;
	}
}
