@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Tilt Neon', cursive;
}

body {
	background-color: #f2eeee;
}

body,
html {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
