* {
	box-sizing: border-box;
	font-family: BaksoSapi;
}

@font-face {
	font-family: BaksoSapi;
	src: url(./fonts/BaksoSapi.woff);
}

body {
	background-color: #f2eeee;
	overflow: overlay;
	overflow-x: hidden;
}

body,
html {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(
		45deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
	border-radius: 10px;
	filter: blur(30px);
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.006);
}
